{% extends "global/Page.html" %}
{% load otree %}

{{ block title }}任务二 第<!-- 插入轮次 -->{{subsession.round_number}}轮 第一阶段{{ endblock }}
{{ block content }}



<p>任务二中每轮决策包含两个阶段。</p>
<p>计算机已随机为你匹配另一名参与者。现在开始第一阶段决策。</p>
<p>你的资源产出率等于<!-- 插入变量productivity --> {{player.prod}}，
    另一名参与者的产出率等于<!-- 插入变量productivity --> {{player.partner_prod}}。
    <!-- 插入产出率 --></p>
<br>
<p>你们现在需要在两种资源分配方案之间进行选择。</p>


{{ if group.tip }}
<p>这个组显示提示</p>

{{ else }}
<p>这个组不显示提示</p>

{{ endif }}

<table class = 'table table-bordered table-hover table-condensed'>
    <thead>
    <tr>
        <th>选择   </th>
        <th> 资源：（你，配对者）</th>
        <th> 产出：（你，配对者）</th>
    </tr>
    </thead>
    <tbody>

    {{if player.prod < player.partner_prod}}
    <tr>
        <td><div class="form-check"><input class="form-check-input" type="radio" id="id_choice-0" name="choice" required="" value="A"> <label for="id_choice-0">方案A</label></div></td>
        <td align="center">({{player.group.endow}}, {{player.group.endow}})</td>
        <td align="center">({{player.group.alpha_x}}, {{player.group.beta_y}})</td>
    </tr>
    <tr>
        <td><div class="form-check"><input class="form-check-input" type="radio" id="id_choice-1" name="choice" required="" value="B"> <label for="id_choice-1">方案B</label></div></td>
        <td align="center">({{player.group.x2}}, {{player.group.y2}})</td>
        <td align="center">({{player.group.alpha_x2}}, {{player.group.beta_y2}})</td>
    </tr>
    {{else}}

    <tr>
        <td><div class="form-check"><input class="form-check-input" type="radio" id="id_choice-0" name="choice" required="" value="A"> <label for="id_choice-0">方案A</label></div></td>
        <td align="center">({{player.group.endow}}, {{player.group.endow}})</td>
        <td align="center">({{player.group.beta_y}}, {{player.group.alpha_x}})</td>
    </tr>
    <tr>
        <td><div class="form-check"><input class="form-check-input" type="radio" id="id_choice-1" name="choice" required="" value="B"> <label for="id_choice-1">方案B</label></div></td>
        <td align="center">({{player.group.y2}}, {{player.group.x2}})</td>
        <td align="center">({{player.group.beta_y2}}, {{player.group.alpha_x2}})</td>
    </tr>
    {{endif}}

    </tbody>
</table>




{{ next_button }}


{{ endblock }}