{% extends "global/Page.html" %}
{% load otree %}

{{ block title }}任务二讲解{{ endblock }}
{{ block content }}


<p>在任务二中，你将进行24轮决策，每一轮将有另一名参与者与你随机配对。</p>
<p>每一轮决策包含两个阶段。在每轮决策中，你和配对者可以获得一定的资源，该资源可产生一定收益。但你们的收益率不同，其中一方的较高，另一方较低。在第一阶段，你们需要共同确定资源的分配，从而决定你们各自的收益。在第二阶段，收益较高的一方可根据自愿对收益较低的一方进行转移支付。</p>
<p>下面具体说明决策的两个阶段：</p>
<p><b>第一阶段，你们需要在两种资源分配方案之间选择一种</b>。在这两种分配方案中，你们的资源总和不变，资源收益率不变。在方案A中，资源平等分配；方案B中资源分配存在一定不平等。你们会根据各自的资源收益率得到相应收益，如下表所示：假设你的收益率为α，配对者的收益率为β，在方案A中，你们各自分配到的资源为E，收益分别为αE和βE；在方案B中，你们各自分配到的资源分别为E1和E2，对应的收益分别为αE1和βE2。其中E1+E2=E+E。</p>



<table class="table table-bordered table-hover table-condensed">
<thead>
  <tr>
    <th>选择</th>
    <th>资源：（你，配对者）</th>
    <th>产出：（你，配对者）</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td> 方案A○  </td>
    <td>（E，E）</td>
    <td>（αE，βE）</td>
  </tr>
  <tr>
    <td>方案B○</td>
    <td>（E1，E2）</td>
    <td>（αE1，βE2）</td>
  </tr>
</tbody>
</table>


<p>你们需要选择其中一种方案。</p>
<p>若你们一致选择某个方案，则执行该方案（比如你们一致选择B，则执行方案B）。</p>
<p>若你们选择不一致，则执行方案A（比如你们一人选A，另一人选B，则执行方案A）。</p>

<p>下表列出了你们决策的可能结果：</p>


<table class="table table-bordered table-condensed">
<thead>
  <tr>
    <th colspan="2" rowspan="2">   决策者/选择   </th>
    <th colspan="2">配对者</th>
  </tr>
  <tr>
    <th>A</th>
    <th>B</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td rowspan="2">你</td>
    <td>A</td>
    <td>执行方案A</td>
    <td>执行方案A</td>
  </tr>
  <tr>
    <td>B</td>
    <td>执行方案A</td>
    <td>执行方案B</td>
  </tr>
</tbody>
</table>


<p><b>第二阶段，由收益较高的一方进行决策。</b>收益较高的一方可以将自己的收益转移一部分给收益较低的一方，转移的收益可以为0或任何正数，完全根据收益较高一方的自愿。</p>

<p>每一轮决策结束后，计算机将为你重新匹配一名新的参与者，然后开始下一轮决策。请注意，在每轮决策中，你们的资源数量或收益数值会有所变化。每轮决策结果及收益均在当轮公布。</p>
<p>全部实验任务完成后，计算机将从所有轮次决策中随机抽选5轮，根据你在这5轮中的平均收益兑现真实货币报酬。</p>

<p>现在，请有问题的同学举手示意，实验人员将到你面前解答。若没有问题，请点击下一页进入测试环节。</p>
{{ next_button }}

<!-- <p>测试用参数表：{{test}}</p> -->

{{ endblock }}