{% extends "global/Page.html" %}
{% load otree %}

{{ block title }}
分配决策任务讲解
{{ endblock }}
{{ block content }}

<script>
  function selfChange(){
      document.getElementById("id_other_receive").value = 50 - Math.max(Math.min(document.getElementById("id_self_receive").value,50),0)
  }

  function otherChange(){
      document.getElementById("id_self_receive").value = 50 - Math.max(Math.min(document.getElementById("id_other_receive").value,50),0)
  }

</script>

<p> 现在我们开始分配决策任务。</p>

<p>你的初始禀赋是{{player.endowment}}代币，你将于另一名初始禀赋为{{player.partner_endowment}}代币的参与者配对进行决策。
    在本任务中，你们需要分别对50代币进行分配，决定自己留多少代币，分给对方多少代币。对方也要做一个同样的决策，
    决定给自己留多少代币，分给你对少代币。分配决策任务仅进行一轮。
</p>

<p>你们双方都完成决策后，计算机将从你和你的配对者的分配方案中随机选择一个方案决定你们在本任务的收益，并在全部实验任务完成后公布。
</p>

<p>即，若你的分配方案被选中，我们将按你的方案来分配这50代币；反之亦然。</p>


<p>现在，请填写你的分配方案：</p>


<p>你决定留给自己<input type="number" id="id_self_receive" min="0" max="50" name="self_receive"
                 required value="" size="4" style="width: 50px;" oninput="selfChange()" >代币。</p>


<p>你决定分给对方<input type="number" id="id_other_receive" min="0" max="50" name="other_receive"
                 required value="" size="4" style="width: 50px;" oninput="otherChange()">代币。</p>


{{ next_button }}



{{ endblock }}
