{% extends "global/Page.html" %}
{% load otree %}

{{ block title }}竞拍任务讲解{{ endblock }}


{{ block content }}


<p>
    在竞拍任务中，你将与另一名参与者随机配对，完成若干轮竞拍决策。
</p>
<p>
    在每轮决策中，你拥有初始禀赋 $E_{self}$ ,另一名参与者拥有初始禀赋 $E_{other}$ ，你们需要同时出价来竞拍价值 $R$ 的标的物。
    你们的出价共同决定你们获得标的物的概率。

</p>

<p>
    如果你的出价是$b_{self}$，另一名参与者的出价是$b_{other}$；
$$
你获得标的物的概率=\frac{你的出价 b_{self}}{你们双方的总出价(b_{self}+b_{other})}
$$
</p>

<p>
    即，你的出价越高，你获得标的物的概率越大。
</p>

<p>
    无论谁获得标的物，你们双方都需要支付自己的出价。如果你获得标的物，你的收益等于你的初始禀赋减去你的出价，
    再加上标的物的价值。如果你没有获得标的物，你的收益等于你的初始禀赋减去你的出价。
</p>

<p>
    即，

<li>
    当你获得标的物时，你的收益 $=$ 你的初始禀赋$E_{self}$ $-$ 你的出价$b_{self}$ $+$ 标的物的价值$R$
</li>

<li>
    当你没有获得标的物时，你的收益 $=$ 你的初始禀赋$E_{self}$ $-$ 你的出价$b_{self}$
</li>

</p>


<p>
    每一轮竞拍结束后，计算机将为你重新匹配一名新的对手，然后开始下一轮竞拍决策。
</p>


<P>
    现在，请有问题的同学举手示意，我们的实验人员将到你面前解答。若没有问题，请点击下一页进入测试环节。
</P>


{{ next_button }}

{{ endblock }}
